<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Please provide complete information for your performance test.</h4>
                    </div>
                    <div class="content">
                        <form #simulationForm="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation File</label>
                                        <input #fileInput (change)="selectFile($event)" accept=".scala" class="form-control" name="file"
                                               placeholder="Simulation File" required
                                               type="file"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation resources</label>
                                        <input #fileInput (change)="selectResourcesFile($event)" accept=".zip" class="form-control" name="file"
                                               placeholder="Resources File" required
                                               type="file"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Complete Simulation Class Name</label>
                                        <input [(ngModel)]="model.packageName" class="form-control" name="package" placeholder="Complete Simulation Class Name(com.walmart.store.BasicSimulation)"
                                               required
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation Parallelism</label>
                                        <input [(ngModel)]="model.parallelism" class="form-control" name="parallelism" placeholder="Simulation Parallelism"
                                               required type="number">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Access Key</label>
                                        <input [(ngModel)]="model.accessKey" class="form-control" name="accessKey"
                                               placeholder="Access Key" type="text">
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input [(ngModel)]="model.userName" class="form-control" name="userName"
                                               placeholder="User Name" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Optional Parameters</label>
                                        <input [(ngModel)]="model.parameter" class="form-control" name="parameter"
                                               placeholder="Optional Parameters" type="text">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Partition Name</label>
                                        <select [(ngModel)]="model.partitionName" class="form-control" name="partitionName" placeholder="Partition Name"
                                                required type="text">
                                            <option *ngFor="let partition of partitions">
                                                {{ partition }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <span *ngIf="!success" class="text-danger" type="text">The job is not submitted properly please correct your input and try again.</span>
                            </div>

                            <button (click)="upload();" class="btn btn-info btn-fill left" type="submit">Upload & Run
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
