<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text" href="#dashboard">
            <div class="logo-img">
                <!--<img src="/assets/img/Gatling-logo.png"/>-->
                <img src="../../favicon.ico"/></div>
            Dist Gatling
        </a>
    </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" routerLinkActive="active">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
